

 {% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
        
Ivy Guide America is a leader in private tutoring for the SAT,TOELF or AP Students meet 1-on-1 with one of our expert instructors at Zhengzhou-Henan,China and New York,America at the time that best fits the their needs. Our tutoring program is completely tailored to the needs of our students and also designed to deliver the most comprehensive, effective and engaging SAT,TOELF and AP preparation available. Our tutors have a wealth of experience and students can choose to focus equally on all areas the SAT, ,TOELF and AP,or concentrate on a particular area of weakness. 
Languages    Math and Science    Literature and History 
English Grammar    Math level 1    America History 
Speaking           Math level 2 

SAT Tutoring FAQ
      
</div>
{% endblock %}

