

 {% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='container'>
    <div class="row" align="left">
        <div class="col-lg-8 col-lg-offset-2">
        
Ivy Guide America is a leader in private tutoring for the SAT,TOELF or AP Students meet 1-on-1 with one of our expert instructors at Zhengzhou-Henan,China and New York,America at the time that best fits the their needs. Our tutoring program is completely tailored to the needs of our students and also designed to deliver the most comprehensive, effective and engaging SAT,TOELF and AP preparation available. Our tutors have a wealth of experience and students can choose to focus equally on all areas the SAT, ,TOELF and AP,or concentrate on a particular area of weakness. 
Languages    Math and Science    Literature and History 
English Grammar    Math level 1    America History 
Speaking           Math level 2 

SAT Tutoring FAQ
            <h3>Who are your SAT tutors?</h3>
            <p>We hand-pick tutors who combine high academic achievement with a passion for teaching. Our instructors are graduates of top universities, have scored in the 99th percentile on the SAT, and are experts in teaching standardized tests. Meet some of our SAT instructors and tutors here.</p>
                <h3>Do your tutors help with every section of the SAT?</h3>
            <p>We have some tutors on staff who can cover all three sections of the SAT (Critical Reading, Math, Writing) and some who specialize in either the verbal or math. We will work with you to find a tutor who will be the best fit for your needs. During a tutoring session, you can choose to cover all three SAT sections or just focus on the areas that you need particular help with.</p>
             
            <h3>How long are your tutoring sessions?</h3>
            <p>Our SAT tutoring sessions are typically 2 hours in length. Of course, we are flexible and we can extend the tutoring session if requested. </p>
             
            <h3>What is covered in a typical 2-hour tutoring session?</h3>
            <p>Every tutoring session is different. We completely customize our sessions to the needs of the student. A typical tutoring session might include an overview of the SAT, building unfamiliar concepts, working through practice problems, or reinforcing tips and strategies. </p>
             
            <h3>How much tutoring do I need?</h3>
            <p>For students without prior SAT preparation, we recommend the 28-hour tutoring program. However, you may build a custom program that fits your needs and budget. The factors that you should consider when determining how much tutoring you need are your score improvement goal, the amount of time before your SAT test date, and your budget. For our 28 hour program, we see on average a 200 point improvement in the student and it takes approximately 2.5 months to complete if scheduled on a weekly basis. </p>
             
            <h3>How much homework do you assign?</h3>

            <p>At Ivy Global, we understand students are busy with school work and extra-curricular activities. During the session, the tutor will discuss with the student how many hours they can devote to SAT preparation and will assign an appropriate level of homework for the student. For weekly sessions, a typical amount of homework may be 2-4 hours per week. </p>
              
            <h3>When can I arrange SAT tutoring? </h3>

            <p>SAT tutoring can be arranged on both weekdays and weekends. The dates and times (Monday-Sunday: 10am-9pm) are very flexible and depend on the availability of our tutors. Most students arrange tutoring on a weekly basis, but we can also accommodate less frequent tutoring as well as intensive preparation. </p>

            <h3>What is your cancellation policy? </h3>

            <p>For any tutoring session that is cancelled at least 48 hours beforehand, no cancellation fee will be incurred. For sessions cancelled within 48 hours, a fee equivalent to 1 hour of tutoring will be charged. </p>

            <h3>What if I am not happy with my tutor? </h3>

            <p>At Ivy Global, we only hire the best. We are confident that you will find each of our tutors engaging and effective as instructors. If for whatever reason you are not satisfied with your tutor, please contact us immediately and we will do our best to make any necessary adjustments.</p>

            <h3>Do you offer tutoring for other subjects? </h3>

            <p>Many of our tutors have experience and expertise in a wide variety of subjects. We offer general academic tutoring for students in Grades 5-12 to supplement school work and for test preparation. Learn more </p>
        </div>
    </div>
</div>
{% endblock %}

